.App {
  text-align: center;
}

.friend-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.friend {
  list-style-type: none;
  margin: 10px 0;
  padding: 0;
  border: 1px solid lightskyblue;
  border-radius: 6px;
  width: 50%;
}

.FriendForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.FriendForm input {
  text-align: center;
  width: 50%;
  margin: 5px;
}

.FriendForm button {
    width: 21%;
}
